<!-- forgot-password.html -->
<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
</head>
<body>
    <body>
        <div class="forgot-password-page">
            <div class="form">
              <div class="forgot-password">
                <div class="forgot-password-header">
                  <h3>FORGOT PASSWORD</h3>
                  <p>Please enter your new password.</p>
                </div>
              </div>
              <form class="forgot-password-form">
                <input type="password" placeholder="New Password" required/>
                <input type="password" placeholder="Confirm Password" required/>
                <button type="submit">Submit</button>
                <p class="message">Here your <a href="/login">Login</a></p>
              </form>
            </div>
        </div>
    </body>
</body>
</html>
